.main {
    margin: 0 auto;
    max-width: 600px;

    &__header {
        background-color: #e9ecef;
        border-radius: .25rem;
        color: #6c757d;
    }

    &__title {
        font-size: 1rem;
        &--center {
            text-align: center;
        }
    }

    &__footer {
        background-color: #000000;
        color: #ffffff;
    }
}

h1, h2 {
    margin: 0 !important;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}